:host ::ng-deep{
    .p-card-header img
{
    padding: 30px 15px !important;
}
}
.btn-footer
{
    
        background-color: #302CA2 !important;
        color: white !important;
        border: 1px solid #302CA2 !important;
        font-weight: 600;
        
    }
.btn-footer:hover
{
    background-color: #302CA2 !important;
    color: white !important;
    border: 1px solid #302CA2 !important;
}
.price
{
    color:#23104E;
    font-weight:800;
}
.price-through
{
    color: #302CA2;
}
.badge-text
{
    position:absl
}