:host ::ng-deep{
    .p-card{
        height: 428px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .p-card-header img
    {
        padding: 27px 15px 0px !important;
        height: 210px;
    }
    .p-rating .p-rating-icon.p-rating-icon-active{
        color: #FFE621;
    }
}
.btn-footer
{
    
        background-color: #302CA2 !important;
        color: white !important;
        border: 1px solid #302CA2 !important;
        font-weight: 600;
        label{
            font-size: 10px;
        }
        
    }
.btn-footer:hover
{
    background-color: #302CA2 !important;
    color: white !important;
    border: 1px solid #302CA2 !important;
}
.price
{
    color:#23104E;
    font-weight:800;
}
.price-through
{
    color: #302CA2;
}
.badge-text
{
    position: absolute;
    top:15px;
    left: 25px;
    padding: 5px 10px;
    border-radius: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    span{
        transform: translateY(-16%);
    }
}