:host ::ng-deep{
    .p-tabmenu .p-tabmenu-nav{
        background: #efeef8 !important;
    }
    .p-tabmenu-nav
    {
        gap: 15px;
        padding: 0px 50px;
    }
    .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link
    {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        color: #302CA2;
        border: none;
        border-color: unset;
        font-size:13px;
        font-weight:600;
        background-color: transparent;
        &:hover{
            background-color: transparent !important;
        }
    }
    .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:not(.p-disabled):focus
    {
        background: #d8d8db;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        color: #302CA2;
        font-weight: 900;
        box-shadow: none;
        border: none;
        font-size: 16px;
    }
    
}
